[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
appdirs = "*"
asyncio = "*"
aiohttp = ">=3.3,<4"
hangups = ">=0.4.11"
reparser = "==1.4.3"
python-dateutil = "*"
"pushbullet.py" = "*"
goslate = "*"
textblob = "*"
wikipedia = "*"
wolframalpha = "*"
emoji = ">=0.5.0"
pyslack-real = ">=0.5.2"
slackclient = "<2,>=0.16"
selenium = "*"
telepot = ">=11.0"
cleverwrap = "*"
google-api-python-client = "*"
spotipy = "*"
soundcloud = "*"
requests = "*"
praw = "*"
fuzzywuzzy = "*"
redis = "*"
beautifulsoup4 = "*"
lxml = "*"
unidecode = "*"
TwitterAPI = "*"
python-Levenshtein = "*"

[dev-packages]

[requires]
python_version = "3.8"
